<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv=refresh content=5>
    <title>Controllo motore e sensore</title>
    <style>
        table, th, td{border: 1px solid black;}
    </style>
</head>
<body>
    <h2>Controllo motore</h2>
    <form action="/ricevi">
        <label for="velocita">Velocità:</label>
        <input type="number" id="velocita" name="velocita" required min="0" max="255">
        <input type="submit" value="Invia">
        <br>
        <input type="radio" name="btn" checked="checked" value="avanti">
        <label> Avanti </label>
        <br>
        <input type="radio" name="btn" value="indietro">
        <label> Indietro </label>
    </form>
   <h2>Tabella valori del sensore</h2> 
    <table> 
        <tr>
            <th>Data e ora</th>
            <th>Valore</th>
            {% for i in dizValori %}
                <tr>
                    <td>{{i["DataOra"]}}</td>
                    <td>{{i["Valore"]}}</td>
                </tr>
            {% endfor %}
        </tr>
    </table>
    <h2>Grafico valori del sensore</h2>
    <div id='chart' class='chart'”></div>
    <script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
    <script type='text/javascript'>
    var graphs = {{graphJSON | safe}};
    Plotly.plot('chart',graphs,{});
    </script>
</body>
</html>